<template>
  <div>
    <h1 class="title">{{ problem_theme }}</h1>
    <div class="tabs">
      <ul>
        <li v-bind:class="{ 'is-active': isActive.description }">
          <a @click="switch_tab('description')">description</a>
        </li>
        <li v-bind:class="{ 'is-active': isActive.code }">
          <a @click="switch_tab('code')">code</a>
        </li>
        <li v-bind:class="{ 'is-active': isActive.results }">
          <a @click="switch_tab('results')">results</a>
        </li>
      </ul>
    </div>
    <div v-if="isActive.description">
      <!-- <p>{{ exam }} -->
      <div class="content">
        <div v-html="compiledMarkdown"></div>
      </div>
      <!-- </p> -->
    </div>
    <div v-if="isActive.code">
      <div class="field">
        <label class="label">言語選択</label>
        <div class="control">
          <div class="select">
            <select v-model="lang">
              <option>python</option>
              <option>Clang</option>
            </select>
          </div>
        </div>
      </div>
      <textarea
        class="textarea"
        id="editor"
        placeholder="10 lines of textarea"
        rows="10"
        v-model="code"
      ></textarea>
      <br />
      <input type="button" class="button" value="button" @click="send_code_data" />
    </div>
    <div v-if="isActive.results">
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Test ID</th>
            <th>Result</th>
            <th>Judgment</th>
          </tr>
        </thead>
        <tbody v-for="(item, index) in result_data" v-bind:key="index">
          <!-- <tbody> -->
          <tr>
            <th>{{ item.test_id }}</th>
            <th>{{ item.result }}</th>
            <th>{{ item.judgment }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import io from "socket.io-client";
import marked from "marked";
import codemirror from "codemirror";

export default {
  name: "problem",
  data() {
    return {
      problem_id: this.$route.params.problemid,
      problem_theme: this.$route.params.problemtheme,
      exam: "",
      lang: "",
      code: null,
      codeid: "",
      result_data: [],
      list_code_tests_table_id: [],
      IntervalObject: null,
      isActive: {
        description: true,
        code: false,
        results: false
      }
    };
  },
  computed: {
    compiledMarkdown: function() {
      return marked(this.exam);
    }
  },
  methods: {
    get_problem_description: function() {
      var url = this.$system_url + "/problems/id/" + this.problem_id;
      axios
        .get(url, {
          headers: { "Content-Type": "application/json" }
        })
        .then(response => {
          console.log(response.data);

          this.problem_theme = response.data["theme"];
          this.exam = response.data["exam"];
        });
    },
    switch_tab: function(str_class) {
      if (str_class == "description") {
        this.isActive.description = true;
        this.isActive.code = false;
        this.isActive.results = false;
      } else if (str_class == "code") {
        this.isActive.description = false;
        this.isActive.code = true;
        this.isActive.results = false;
      } else if (str_class == "results") {
        this.isActive.description = false;
        this.isActive.code = false;
        this.isActive.results = true;
      } else {
      }
    },
    create_json: function() {
      var json_data = JSON.stringify({
        problemid: this.problem_id,
        lang: this.lang,
        code: this.code
      });
      return json_data;
    },
    get_results() {
      for (let i = 0; i < this.list_code_tests_table_id.length; i++) {
        let url =
          this.$system_url + "/code/result/" + this.list_code_tests_table_id[i];
        axios
          .get(url, {
            headers: { "Content-Type": "application/json" }
          })
          .then(response => {
            console.log(response.data);
            let data = response.data;
            for (let i = 0; i < this.result_data.length; i++) {
              if (this.result_data[i].test_id == data[0]) {
                this.result_data[i].result = data[1];
                this.result_data[i].judgment = data[2];
              }
            }
          });
      }
    },
    sockets: function() {
      for (let i = 0; i < this.list_code_tests_table_id.length; i++) {
        let url =
          this.$system_websocket +
          "/code/result/display/" +
          this.list_code_tests_table_id[i];
        let connection = new WebSocket(url);
        connection.onmessage = this.sockets_onmessage;
      }

      // var connection = new WebSocket(url);
      // connection.onmessage = this.sockets_onmessage;
    },
    sockets_onmessage: function(e) {
      // connection.onmessageで使うようのメソッド定義を行う
      // 何故かconnection.onmessage = function() {}だと中でthisが使えない
      console.log(JSON.parse(e.data));
      let data = JSON.parse(e.data);
      for (let i = 0; i < this.result_data.length; i++) {
        if (this.result_data[i].test_id == data[0]) {
          this.result_data[i].result = data[1];
          this.result_data[i].judgment = data[2];
        }
      }
      // this.result_data = JSON.parse(e.data);
      // console.log(this.result_data);
    },
    send_code_data: function() {
      var json_data = this.create_json();

      console.log(json_data);
      let url = this.$system_url + "/code";
      let token = localStorage.getItem("token");

      axios
        .post(url, json_data, {
          headers: {
            "Content-Type": "application/json",
            Authorization: `Bearer ${token}`
          }
        })
        .then(response => {
          this.list_code_tests_table_id = response.data;
          for (let i = 0; i < this.list_code_tests_table_id.length; i++) {
            this.result_data.push({
              test_id: this.list_code_tests_table_id[i],
              result: "",
              judgment: ""
            });
          }
          console.log(this.result_data);
          var self = this;
          this.IntervalObject = setInterval(function() {
            self.get_results();
          }, 1000);
        });
    }
  },
  mounted() {
    this.get_problem_description();
    // this.editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
    //   lineNumbers: true
    // });
  },
  beforeDestroy() {
    clearInterval(this.IntervalObject);
  }
};
</script>
