<template>
  <div>
    <section class="section">
      <div class="field">
        <label class="label">問題名</label>
        <div class="control">
          <input class="input" type="text" v-model="data_theme" placeholder="問題名" />
        </div>
      </div>
      <div class="field editor">
        <label class="label">説明文</label>
        <div class="control">
          <div class="columns">
            <div class="column">
              <textarea id="input" class="textarea" v-model="data_exam" placeholder="説明文"></textarea>
            </div>
            <div class="column">
              <div class="content">
                <div v-html="compiledMarkdown"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">入力</label>
        <div class="control">
          <input class="input" type="text" v-model="data_argument" placeholder="入力" />
        </div>
      </div>
      <div class="field">
        <label class="label">回答</label>
        <div class="control">
          <input class="input" type="text" v-model="data_solution" placeholder="想定解" />
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button" @click="add_test_case">テストケースの追加</button>
        </div>
      </div>
      <div v-for="test_case in test_cases" v-bind:key="test_case.id">
        <details>
          <summary>テストケース</summary>
          <p>入力</p>
          <pre>{{ test_case.argument }}</pre>
          <p>出力</p>
          <pre>{{ test_case.solution }}</pre>
        </details>
      </div>
      <div class="field">
        <div class="control">
          <button type="submit" class="button" @click="registration_test">テスト登録</button>
        </div>
      </div>
      <!--  -->

      <!--  -->
    </section>
  </div>
</template>
<script>
import axios from "axios";
import marked from "marked";
export default {
  name: "problem",
  data() {
    return {
      data_theme: "",
      data_exam: "",
      data_argument: "",
      data_solution: "",
      data_label: "string",
      test_cases: []
    };
  },
  computed: {
    compiledMarkdown: function() {
      return marked(this.data_exam);
    }
  },
  methods: {
    add_test_case: function() {
      if (this.data_argument != "" && this.data_solution != "") {
        // インプットと回答が空じゃないとき
        this.replace_arg = this.data_argument.replace(/\s+/g, "\n");
        this.replace_sol = this.data_solution;
        this.test_cases.push({
          test_label: "string",
          argument: this.replace_arg,
          solution: this.replace_sol
        });

        // 削除する
        this.data_argument = "";
        this.data_solution = "";
      }

      console.log(this.test_cases);
    },
    registration_test: function() {
      if (
        this.data_theme != "" &&
        this.data_exam != "" &&
        this.test_cases.length > 0
      ) {
        var data = {
          theme: this.data_theme,
          exam: this.data_exam,
          label: this.data_label,
          test_cases: this.test_cases
        };
        var dataJson = JSON.stringify(data);
        let url = this.$system_url + "/problems";

        let token = localStorage.getItem("token");
        console.log(`Bearer ${token}`);
        console.log(data);

        axios
          .post(url, data, {
            headers: {
              "Content-Type": "application/json",
              Authorization: `Bearer ${token}`
            }
          })
          .then(response => {
            console.log(response.data);
          });
      } else {
        alert("足りない");
      }
    }
  }
};
</script>
