<template>
  <div>
    <section class="section">
      <div class="container">
        <h1 class="title">プログラミングをやろう</h1>
        <p class="subtitle">
          <br />プログラミングは問題を解決するためのツールの一つでしかありません.
          <br />あなたはそのツールを使いこなすことができますか?
          <br />大学ではC言語,Java,PHP...と学べるかもしれません
          <br />しかし,世の中にはたくさんの言語があります. ruby,go,rust,python
          <br />それぞれ言語には特徴があり,すべての言語を完璧に使えるようになるには極めてこんなんです.
          <br />しかしアルゴリズムは違います.アルゴリズムはどの言語でも大体使えるでしょう...
          <br />今流行りの機械学習はC++やpythonで実装されることが多いと思いますが,
          <br />動く仕組みとアルゴリズムさえ知っていれば他の言語でも十分に
        </p>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  }
};
</script>
