<template>
  <div>
    <section class="section">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>
              <abbr title="id">ID</abbr>
            </th>
            <th>
              <abbr title="Theme">Theme</abbr>
            </th>
          </tr>
        </thead>

        <tbody v-for="(item, index) in problemList" v-bind:key="index">
          <th>{{ item.id }}</th>
          <td>
            <router-link
              :to="{ name: 'Code', params: { problemid: item.id,problemtheme: item.theme}}"
            >{{ item.theme }}</router-link>
          </td>
        </tbody>
      </table>

      <!-- <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th>Problem ID</th>
            <th>Theme</th>
          </tr>
        </thead>
        <tbody v-for="(item, index) in problemList" v-bind:key="index">
          <tr>
            <th>{{ item.id }}</th>
            <th>
              <router-link
                :to="{ name: 'Code', params: { problemid: item.id,problemtheme: item.theme}}"
              >{{ item.theme }}</router-link>
            </th>
          </tr>
        </tbody>
      </table>-->
    </section>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "ProblemList",
  data() {
    return {
      problemList: [],
      info: null
    };
  },
  methods: {
    get_problem_list: function() {
      let url = this.$system_url + "/problems/list";
      axios
        .get(url, {
          headers: { "Content-Type": "application/json" }
        })
        .then(response => {
          this.problemList = response.data;
          this.info = response.data;
          console.log(this.problemList[0]);
        });
    }
  },
  mounted() {
    this.get_problem_list();
  }
};
</script>
