<template>
  <div class="container">
    <h1>{{ thema }}</h1>
    <div>{{ exam }}</div>
    <textarea v-model="message" placeholder="edit me"></textarea>
    <button type="submit" @click="getcode">subumit</button>
  </div>
</template>

<script>
export default {
  name: 'problem',
  data () {
    return {
      thema: '文字連結問題',
      exam: '与えられた文字または数値を連結して出力しよう',
      message: ''
    }
  },
  methods: {
    getcode: function () {
      // API処理
      if (this.message.length <= 0) {
        alert('文字が入力されていません')
      } else {
        console.log(this.message)
      }
    }
  }
}
</script>
