<template>
  <div>
    <section class="section">
      <div class="columns is-mobile is-centered">
        <div class="column is-half box">
          <p class="title is-3">Sign in</p>
          <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
              <input v-model="email" class="input" type="email" placeholder="Email" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
              <input v-model="password" class="input" type="password" placeholder="Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success" @click="sign_in">Sign in</button>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'sign_up',
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    sign_in: function () {
      console.log(this.$system_url)
      if (this.email.length > 0 && this.password.length > 6) {
        let url = this.$system_url + '/auth/signin'
        let data = {
          email: this.email,
          password: this.password
        }
        console.log(data)
        let dataJson = JSON.stringify(data)
        axios
          .post(url, dataJson, {
            headers: { 'Content-Type': 'application/json' }
          })
          .then(response => {
            console.log(response.data['token'])
            if (response.data['token'] != null) {
              localStorage.setItem('token', response.data['token'])
              this.$router.push({ name: 'Home' })
              location.reload()
            } else {
              alert('ユーザもしくはパスワードが間違っています')
            }
          })
      }
    }
  }
}
</script>
