<template>
  <div>
    <section class="section">
      <div class="columns is-centered">
        <div class="column is-half box">
          <p class="title is-3">Sign up</p>

          <div class="field-body">
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input v-model="first_name" class="input" type="text" placeholder="名字" />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
            <div class="field">
              <p class="control has-icons-left has-icons-right">
                <input v-model="last_name" class="input" type="text" placeholder="名前" />
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <i class="fas fa-check"></i>
                </span>
              </p>
            </div>
          </div>
          <div class="field">
            <label class="label">Email</label>
            <p class="control has-icons-left has-icons-right">
              <input v-model="email" class="input" type="email" placeholder="Email" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
              <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Password</label>
            <p class="control has-icons-left">
              <input v-model="password_1" class="input" type="password" placeholder="Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <label class="label">Confirm Password</label>
            <p class="control has-icons-left">
              <input v-model="password_2" class="input" type="password" placeholder="Password" />
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field">
            <p class="control">
              <button class="button is-success" @click="sign_up">Sign up</button>
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "SignUp",
  data() {
    return {
      user_name: null,
      last_name: null,
      first_name: null,
      email: null,
      password_1: null,
      password_2: null
    };
  },
  methods: {
    sign_up: function() {
      console.log(this.$system_url);
      console.log(this.user_name);

      if (
        this.first_name.length > 0 &&
        this.last_name.length > 0 &&
        this.email.length > 0 &&
        this.password_1.length > 8 &&
        this.password_2.length > 8 &&
        this.password_1 === this.password_2
      ) {
        let url = this.$system_url + "/auth/signup";
        let data = {
          first_name: this.first_name,
          last_name: this.last_name,
          email: this.email,
          password_1: this.password_1,
          password_2: this.password_2
        };
        console.log(data);
        let dataJson = JSON.stringify(data);
        axios
          .post(url, dataJson, {
            headers: { "Content-Type": "application/json" }
          })
          .then(response => {
            console.log(response.data);
            console.log(response.data["msg"]);
            console.log(response.data["SignUp"]);
            if (response.data["SignUp"] == true) {
              alert("登録完了");
              this.$router.push({ name: "Home" });
            } else {
              alert("ユーザがすでに存在するかパスワードが一致しません");
            }
          });
      }
    }
  }
};
</script>
