<template>
  <header>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <!-- <img src="./fn.jpg" width="112" height="28" /> -->
        </a>

        <a
          role="button"
          class="navbar-burger burger"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbarBasicExample"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" @click="redirect_Home">Home</a>

          <a class="navbar-item" @click="redirect_Problems">Problems</a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">More</a>

            <div class="navbar-dropdown">
              <a class="navbar-item">About</a>
              <a class="navbar-item">Jobs</a>
              <a class="navbar-item">Contact</a>
              <hr class="navbar-divider" />
              <a class="navbar-item">Report an issue</a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons" v-if="this.isSignin===false">
              <a class="button is-primary" @click="redirect_SignUp">
                <strong>Sign up</strong>
              </a>
              <!-- <a class="button is-light" @click="redirect_SignIn">Sign in</a> -->
              <!--  -->
              <a class="dropdown is-right" v-bind:class="{'is-active':isActive}">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu7"
                    @click="ActiveSwitch"
                  >
                    <span>Sign in</span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <!--  -->
                      <div class="field">
                        <label class="label">Email</label>
                        <p class="control">
                          <input v-model="email" class="input" type="email" placeholder="Email" />
                        </p>
                      </div>
                      <div class="field">
                        <label class="label">Password</label>
                        <p class="control">
                          <input
                            v-model="password"
                            class="input"
                            type="password"
                            placeholder="Password"
                          />
                        </p>
                      </div>
                      <div class="field">
                        <p class="control">
                          <button class="button is-success" @click="sign_in">Sign in</button>
                        </p>
                      </div>
                      <!--  -->
                    </div>
                  </div>
                </div>
              </a>
              <!--  -->
            </div>

            <!-- is sign in -->
            <div class="buttons" v-if="this.isSignin===true">
              <!--  -->
              <a class="dropdown is-right" v-bind:class="{'is-active':isActive}">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu7"
                    @click="ActiveSwitch"
                  >
                    <span>{{ name }}</span>
                  </button>
                </div>

                <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                  <div class="dropdown-content">
                    <a class="dropdown-item" @click="redirect_ProblemCreate">Create Problems</a>
                    <hr class="dropdown-divider" />
                    <a class="dropdown-item" @click="SignOut">Sign out</a>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>
<script>
import axios from 'axios'
export default {
  name: 'problem_list',
  data () {
    return {
      isSignin: false,
      isActive: false,
      email: '',
      password: '',
      name: ''
    }
  },
  methods: {
    redirect_SignUp: function () {
      this.$router.push({ name: 'SignUp' })
    },
    redirect_SignIn: function () {
      this.$router.push({ name: 'SignIn' })
    },
    redirect_Home: function () {
      this.$router.push({ name: 'Home' })
    },
    redirect_Problems: function () {
      this.$router.push({ name: 'ProblemList' })
    },
    redirect_ProblemCreate: function () {
      this.$router.push({ name: 'ProblemCreate' })
    },
    SignOut: function () {
      localStorage.removeItem('token')
      this.$router.push({ name: 'Home' }) // nuxt vuexを使えばリロードせずに済みそう
      this.isSignin = false
    },
    Token_Parse: function () {
      if (this.isSignin === true) {
        let token = localStorage.getItem('token')
        let base64Url = token.split('.')[1]
        let encode_base64 = base64Url.replace('-', '+').replace('_', '/')
      }
    },
    GetName: function () {
      let url = this.$system_url + '/account/name'
      let token = localStorage.getItem('token')

      axios
        .get(url, {
          headers: {
            'Content-Type': 'application/json',
            Authorization: `Bearer ${token}`
          }
        })
        .then(response => {
          let first_name = response.data['first_name']
          let last_name = response.data['last_name']
          this.name = first_name
        })
    },
    ActiveSwitch: function () {
      if (this.isActive == true) {
        this.isActive = false
      } else {
        this.isActive = true
      }
    },
    sign_in: function () {
      if (this.email.length > 0 && this.password.length > 6) {
        let url = this.$system_url + '/auth/signin'
        let data = {
          email: this.email,
          password: this.password
        }
        let dataJson = JSON.stringify(data)
        axios
          .post(url, dataJson, {
            headers: { 'Content-Type': 'application/json' }
          })
          .then(response => {
            if (response.data['token'] != null) {
              localStorage.setItem('token', response.data['token'])
              this.isSignin = true
              this.GetName()
              alert('ok')
              this.isActive = false
            } else {
              alert('no sigin in')
            }
          })
      }
    }
  },
  mounted () {
    if (localStorage.getItem('token').length > 0) {
      // ログインしていれば(ローカルストレージにトークンがあれば)
      this.isSignin = true
      this.Token_Parse()
      this.GetName()
    }
  }
}
</script>
