<template>
  <div>
    <app-header></app-header>
    <div class="container" id="app">
      <router-view />
    </div>
  </div>
</template>

<style>
@import "../node_modules/bulma/css/bulma.min.css";
</style>

<script>
import Header from './components/Header.vue'
export default {
  components: {
    'app-header': Header
  }
}
</script>
